@model IEnumerable<dynamic>

<table class="table">
    <thead>
        <tr>
            <th>ID del Establecimiento</th>
            <th>Nombre del Establecimiento</th>
            <th>ID del Botiquín</th>
            <th>Nombre del Botiquín</th>
            <th>Descripción del Botiquín</th>
            <th>ID del Medicamento</th>
            <th>Nombre del Medicamento</th>
            <th>Cantidad Total</th>
            <th>Última Actualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.EstablishmentId</td>
                <td>@report.EstablishmentName</td>
                <td>@report.FirstAidKitId</td>
                <td>@report.FirstAidKitName</td>
                <td>@report.FirstAidKitDescription</td>
                <td>@report.MedicineId</td>
                <td>@report.MedicineName</td>
                <td>@report.TotalQuantity</td>
                <td>@report.LastUpdated.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
