@model IEnumerable<ProgramColegioEnfermeras.Models.Userr>

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h1>Lista de Usuarios</h1>

<p>
    <a asp-action="Create">Crear Nuevo Usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName) <!-- Nombre de Usuario -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password) <!-- Contraseña -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol) <!-- Rol -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate) <!-- Fecha de Registro -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate) <!-- Fecha de Actualización -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State) <!-- Estado -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation) <!-- ID Navegación -->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName) <!-- Mostrar Nombre de Usuario -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password) <!-- Mostrar Contraseña -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol) <!-- Mostrar Rol -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate) <!-- Mostrar Fecha de Registro -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate) <!-- Mostrar Fecha de Actualización -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State) <!-- Mostrar Estado -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.Id) <!-- Mostrar ID de Navegación -->
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
